fastapi==0.115.4
uvicorn==0.31.0
pydantic==2.9.2
pydantic-settings==2.5.0
sqlalchemy==2.0.36
mysql-connector-python==8.5.0
python-dotenv==1.0.1
requests==2.32.3
faiss-cpu==1.8.0.post1
sentence-transformers==3.0.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4